<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Idea App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-list>
      <ion-list-header>
        Toutes les idées
      </ion-list-header>
      <ion-item>
        <ion-label>Test1</ion-label>
        <div>
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="trash-outline" color="danger"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="addPage()">
      <ion-icon name="add" size="medium" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
